body {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho da tabela */
table thead tr {
  background: linear-gradient(90deg, rgba(2,177,198,1) 0%, rgba(90,187,176,1) 100%);
  color: #fff;
  font-weight: bold;
}

table th, table td {
  padding: 4px 5px;
  border: 1px solid #b0aeae;
}

/* Estilo para as células de dados */
table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.alta-sim {
  background-color: #f8d7da;
}

.alta-nao {
  background-color: #c1f5f3;
}

#setorCounts {
  display: flex;
  gap: 3px;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.setor-item, .total {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  color: #333;
  min-width: 100px;
}

.setor-item:nth-child(even) {
  background-color: #f9f9f9;
}

.total {
  padding: 20px;
  width: 100%;
}