body {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  
  /* Oculta a barra de rolagem para todos os navegadores modernos */
  overflow: hidden; /* Oculta a barra de rolagem */
}

/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho da tabela */
table thead tr {
  background: rgb(2,177,198);
  background: linear-gradient(90deg, rgba(2,177,198,1) 0%, rgba(90,187,176,1) 100%);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th, table td {
  padding: 4px 5px;
  border: 1px solid #b0aeae;
}

/* Estilo para as células de dados */
table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.alta-sim {
  background-color: #f8d7da;
}

.alta-nao {
  background-color: #c1f5f3;
}

#setorCounts {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Espaçamento entre os itens */
  justify-content: center; /* Centraliza os itens horizontalmente */
  width: 100%; /* Ajuste conforme necessário */
  margin: 10px 0; /* Ajuste conforme necessário */
}

.setor-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(25% - 20px); /* Ajusta o tamanho dos itens */
  box-sizing: border-box; /* Inclui o padding e a borda no tamanho total */
  font-weight: bold;
  text-align: center;
  color: #333;
  min-width: 200px; /* Ajuste conforme necessário */
}

.setor-item:nth-child(even) {
  background-color: #f9f9f9; /* Cor alternativa para melhorar a legibilidade */
}

.total {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Ocultar a barra de rolagem para Webkit (Chrome, Safari) */
.hidden-scrollbar {
  overflow: hidden;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem */
}

/* Ocultar a barra de rolagem no Firefox */
.hidden-scrollbar {
  scrollbar-width: none; /* Oculta a barra de rolagem */
}

/* Ocultar a barra de rolagem no IE e Edge */
.hidden-scrollbar {
  -ms-overflow-style: none; /* Oculta a barra de rolagem */
}
